<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ela.eoswallet.elawalleta">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/elalogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ElawalletaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".EditremarkActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".ChatActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".AddFriendsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".NewFriendsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".EditinfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".UserInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".MyInfoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".robot.RobotService"
            android:enabled="true"
            android:exported="true" />


    </application>
</manifest>